/*estilo de tabelas copiado desse link:
http://www.w3schools.com/html/html_tables.asp*/

table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}